*{box-sizing:border-box}body{margin:0;font-family:Arial,sans-serif;background:#0b1220;color:#fff;line-height:1.6}a{text-decoration:none;color:white}.navbar{display:flex;justify-content:space-between;align-items:center;padding:20px 8%;background:#111827;position:sticky;top:0}.navbar ul{display:flex;gap:25px;list-style:none}.navbar button{display:none;background:none;color:white;border:0;font-size:25px}.hero{min-height:90vh;display:flex;align-items:center;padding:8%;background:linear-gradient(135deg,#111827,#1e3a8a)}.hero h1{font-size:55px}.btn{font-weight:bold;display:inline-block;background:#3b82f6;padding:12px 25px;border-radius:30px;margin-top:20px}.section{padding:70px 8%}.cards{display:grid;grid-template-columns:repeat(4,1fr);gap:20px}.cards div{background:#1f2937;padding:30px;border-radius:15px;text-align:center}.skill{margin:20px 0}.skill div{background:#374151;height:12px;border-radius:20px}.skill b{display:block;height:100%;background:#3b82f6;border-radius:20px}.timeline article{background:#1f2937;padding:25px;margin:20px 0;border-left:5px solid #3b82f6}.reveal{opacity:0;transform:translateY(40px);transition:.7s}.show{opacity:1;transform:none}footer{text-align:center;padding:30px;background:#111827}@media(max-width:768px){.navbar button{display:block}.navbar ul{display:none;flex-direction:column}.navbar ul.active{display:flex}.hero h1{font-size:38px}.cards{grid-template-columns:1fr}}

.cst-custom-row {
    display: flex;
    align-items: center;
}

.cst-custom-row > div {
    max-width: 64%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.cst-custom-row > div.cst-4 {
    width: 30%;
}

.cst-custom-row > div.cst-8 {
    width: 80%;
    padding: 15px 45px;
}

#services{
    background: linear-gradient(135deg, #1e3a8a, #111827);
}

.cst-svg-icon svg {
    width: 80px;
    height: auto;
}

.cst-svg-icon svg path {
    fill: #fff;
}

p.h3-size {
    font-size: 18px;
    margin: auto;
    text-transform: uppercase;
}

.cst-ci-box {
    max-width: 400px;
    padding: 30px;
    text-align: center;
    border: solid 1px #fff;
    border-radius: 5px;
    display: block;
    width: 400px;
}

.cst-contact-box {
    display: flex;
    width: 100%;
    grid-gap: 30px;
}

@media (max-width: 769px){
    .cst-custom-row {
        display: block;
    }

    .cst-custom-row > div {
        min-width: 100%;
    }

    .cst-contact-box {
        display: block;
    }

    .cst-contact-box > .cst-ci-box {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .cst-contact-box > .cst-ci-box:last-child {
        margin-bottom: 0;
    }
}

.cst-4 img {
    border-radius: 100%;
}